<p class="right__desc">Cập Nhật</p>
<div class="right__formWrapper">
    <form action="/checkin/update/{{checkin._id}}?_method=PUT" method="POST">
        {{#if error}} 
			<span class="update-error">{{error.statusText}} - {{error.message}}</span>
        {{/if}}
        <input type="hidden" name="_id" value="{{checkin._id}}">
        <input type="hidden" name="category" value="{{checkin.category}}">
        <input type="hidden" name="user_id" value="{{checkin.user_id}}">
        <div class="right__inputWrapper">
            <label for="title">Tiêu đề</label>
            <input type="text" placeholder="Tiêu đề..." name="title" value="{{checkin.title}}" disabled>
            <label for="title">Địa chỉ</label>
            <input type="text" placeholder="Địa chỉ..." name="address" value="{{checkin.address}}">
            <label for="title">Url/Image ( Hình Ảnh )</label>
            <input type="text" placeholder="URL Image..." name="image" value="{{checkin.image}}">
        </div>
        <div class="right__MoreInfomation">
            <label for="coordinates_positions">Thông tin thêm</label>
            <div>
                <input type="number" step="any" placeholder="Latitude (Vĩ độ)..." name="latitude" value="{{checkin.latitude}}">
                <input type="number" step="any" placeholder="Longitude (Kinh độ)..." name="longitude" value="{{checkin.longitude}}">
                <input type="text" placeholder="Thời gian hoạt động..." name="timeWork" value="{{checkin.timeWork}}">
                <input type="text" placeholder="Tác giả..." name="author" value="{{checkin.author}}">
                <input type="number" placeholder="Từ giá trị ..." name="priceBuyFrom" value="{{checkin.priceBuyFrom}}">
                <input type="number" placeholder="Đến giá trị ..." name="priceBuyTo" value="{{checkin.priceBuyTo}}">
            </div>
        </div>
        <div class="right__Utilities">
            <label for="hastag">Gắn thẻ tags</label>
            <div>
                <input type="text" id="exist-values" class="tagged form-control" data-removeBtn="true" name="hashtag" value="{{tags checkin.tags}}" placeholder="Hashtag/nhãn...">
            </div>
        </div>
        <div class="right__inputWrapper">
            <label for="desc">Mô tả</label>
            <div class="editor-wrapper">
                <div id="editor-container"></div>
            </div>
        </div>
        <br>
        <div class="right__inputWrapper">
            <label for="desc">Render Markdown</label>
            <div class="editor-wrapper">
                <input type="hidden" name= "description">
                <div id="markdown">{{checkin.description}}</div>
            </div>
        </div>
        <br>
        <div class="buttonContainer">
            <span><a class="btn btn-done" href="/checkin">Trở về</a></span>
            <span><div class="btn btn-hidden"></div></span>
            <span><button class="btn btn-submit" type="submit">Cập nhật</button></span>
        </div>
    </form>
</div>
{{>pushScript}}